<!DOCTYPE html>
<html>
  <center>
    <head></br>
      <h1>Welcome to the Rock | Paper | Scissors game!</h1></br>
      <link rel='stylesheet' type='text/css' href='stylesheet.css' >
    </head>
    <body background="http://pimg.p30download.com/APK_IMG/b/com.blustudios.RoPaSc/icon/icon_0_small.png" class="background_index">

      <form action="/play" method="post"><br>
        Enter your name to accept the challenge!</br>
        <input type="text" name="player_name">
        <input type="submit" value="Submit">
      </form></br>
    </body>

  </center>
</html>
