<!DOCTYPE html>
<html>
<center>
  <head></br>
    <p><%= player.name %> chose <%= player.weapon %>...</p>
    <p>Computer chose <%= computer.weapon %>...</p>
    <br>
    <p><%= game.fight %></p></br>
    <!-- <link rel='stylesheet' type='text/css' href='stylesheet.css' > -->
  </head>
  
<body background="http://www.ja.be/wp-content/uploads/2016/08/Featured-30.jpg" class="background_image_result">

      <form action='/rematch' method='GET'>
        <input type="submit" class="playagainbutton" value="Play again?">
      </form>

      <form action='/newgame' method'GET'>
        <input type="submit" class="newplayerbutton" value="I'm a new player, get me started!">
      </form>

    </body>
</html>
