<p><%= player.name %> chose <%= player.weapon %>...</p>
<p>Computer chose <%= computer.weapon %>...</p>
<br>
<p><%= game.fight %></p>
<form action='/rematch' method='GET'>
  <input type="submit" value="Play again?">
</form>
